.scrollContainer {
    height: 600px; 
}

.innerContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemListContainer {
    width: 450px !important;
}

.selectedItemContainer {
    background: #4ecd77 !important;
    color: #ffffff !important;
}