.title {
    font-weight: bold;
    font-size: 22px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table thead {
    background: #4ECD77;
}

.table td, .table th {
    border: 1px solid #212122;
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #212122;
}